@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to Pierre's Treats!</h1>

<hr />
  <h4>Treats</h4>

  @if (Model["treats"].Length == 0)
  {
    <p>No treats have been added yet!</p>
  }
  <ul>
    @foreach (Treat treat in Model["treats"])
    {
      <li>@Html.ActionLink(@treat.Name + ": " + @treat.Description, "Details", "Treats", new { id = @treat.TreatId})</li>
    }
  </ul>
<hr>

<p>@Html.ActionLink("Manage treats", "Index", "Treats")</p> 
<p>@Html.ActionLink("Manage flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>