@{
  Layout = "_Layout";
}

@using PierresTreats.Models;

<h1>Welcome to the Treat Box!</h1>

<hr>

  <h4>Treats</h4>
  @if (Model["recipes"].Length == 0)
  {
    <p>No recipes have been added yet!</p>
  }
  <ul>
    @foreach (Treat recipe in Model["recipes"])
    {
      <li>@Html.ActionLink(@recipe.Name + ": " + @recipe.Description, "Details", "Treats", new { id = @recipe.TreatId})</li>
    }
  </ul>


<hr>

<p>@Html.ActionLink("Manage recipes", "Index", "Treats")</p> 
<p>@Html.ActionLink("Manage tags", "Index", "Flavors")</p>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>